<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>

    <title>Hermandad de la estrella</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="./img/escudo.png">
    <link rel="stylesheet" href="../static/css/estilos.css" type="text/css" th:href="@{/css/estilos.css}">
</head>


<body class="lateral">
    <div class="container-fluid">
        <header class="w-100" th:replace="~{fragmentos/encabezado::encabezado}">
        </header>
        <nav th:replace="~{fragmentos/navBarUsuario::menuUsuario}">
        </nav>
        <main class="col-lg-3 col-md-6 col-12 w-75 bg-white mx-auto rounded h-100 p-3">
            <h2 class="texto">Carrito</h2>
            <form action="checkout" th:action="@{/checkout}" th:object="${venta}" method="post">
                <button class="btn btn-success btn-block mb-4" type="submit" name="checkout"
                    value="checkout">Comprar</button>
                <div class="mx-auto float-end">
                    <a class="btn btn-primary" href="carrito.html" th:href="@{/user/indexUsuario}">Volver</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        th:attr="data-bs-target='#myModal1'">Borrar todo</button></td>

                    <!-- The Modal -->
                    <div class="modal" id="myModal1" th:id="'myModal1'">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Modal Heading</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">¿Esta seguro que desea limpiar el carrito?</div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a class="btn btn-danger" href="carrito.html" th:href="@{/borrarTodo}">Borrar
                                        todo</a>
                                    <a class="btn btn-primary" th:href="@{/carrito}">Volver</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table tablaHermanos w-100 mx-auto col-lg-3 col-md-6 col-12">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Precio Unitario</th>
                            <th>Cantidad</th>
                            <th></th>
                            <th></th>
                            <th>Subtotal</th>

                        </tr>
                    </thead>
                    <tbody class="anchoCelda">
                        <tr class="tabla" th:each="producto : ${productos}">
                            <td th:text="${producto.key.nombre}">Nombre</td>
                            <td th:text="${producto.key.pvp}">Nombre</td>
                            <td th:text="${producto.value}">Nombre</td>
                            <td></td>
                            <td></td>
                            <td th:text="${producto.value*producto.key.pvp}">Nombre</td>
                            <td><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    th:attr="data-bs-target='#myModal'+${producto.key.id}">Eliminar</button></td>

                            <!-- The Modal -->
                            <div class="modal" id="myModal" th:id="'myModal'+${producto.key.id}">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Modal Heading</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">¿Esta seguro que desea eliminar
                                            este producto?</div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <a class="btn btn-danger"
                                                th:href="@{/borrarProducto/{id}(id=${producto.key.id})}">Eliminar</a>
                                            <a class="btn btn-primary" th:href="@{/carrito}">Volver</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <h4>Total</h4>
                            </td>
                            <td class="text-right">
                                <h4><strong th:text="${#numbers.formatCurrency(total_carrito)}">100€</strong></h4>
                            </td>
                        </tr>
                        <th:block th:if="${total_carritodescuento > 50}">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <h4>Total con descuento</h4>
                                </td>
                                <td>
                                    <h4><strong th:text="${#numbers.formatCurrency(total_carritodescuento)}">100</strong></h4>
                                </td>
                        </th:block>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </main>

    </div>
    <footer class="w-100" th:replace="~{fragmentos/footer::footer}">
    </footer>
</body>


</html>