<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Hermandad de la estrella</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
		th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css}">
		<link rel="shortcut icon" href="../static/img/escudo.png" th:href="@{/img/escudo.png}">
		<link rel="stylesheet" href="../static/css/estilos.css" type="text/css" th:href="@{/css/estilos.css}">
</head>


<body>
	<header th:replace="~{fragmentos/encabezado::encabezado}">
	</header>
	<nav th:replace="~{fragmentos/navBar::menu}">
	</nav>
	<br>
	<h2 class="letraPag">Composiciones</h2>
	<hr>
	<table class="text-center mx-auto" id="tabla1">
		<thead>
			<tr>
				<th scope="col">Cornetas y tambores</th>
				<th scope="col">Banda de música</th>
			</tr>
		</thead>
		<tbody class="mt-2">
			<tr>
				<td class="p-2" scope="row">Y Tu Estrella<em>(Bienvenido Puelles)</em></td>
				<td class="p-2">Virgen de la Estrella <em>(Pedro Gámez Laserna)</em></td>
			</tr>
			<tr>
				<td class="p-2" scope="row">Pasa la Estrella<em>(José Ramón Pérez Soto) </em></td>
				<td class="p-2">Estrella <em>(José Albero Francés)</em></td>
			</tr>
			<tr>
				<td class="p-2" scope="row">Llora María<em>(José Manuel Reina y Rafael Vázquez Mateo)</em></td>
				<td class="p-2">Jesús de la Penas, una oración<em>(J. Manuel Bernal Montero) </em></td>
			</tr>
			<tr>
				<td class="p-2" scope="row">Penas de Triana<em>(Antonio Velasco)</em></td>
				<td class="p-2">Corona de Estrellas<em>(Bienvenido Puelles)</em></td>
			</tr>
			<tr>
				<td class="p-2" scope="row">Triana llora tus Penas<em>(Bienvenido Puelles)</em></td>
				<td class="p-2">Estrella de Triana Coronada <em>(Jesús Jarén)</em></td>
			</tr>
			<tr>
				<td class="p-2" scope="row">Triana te Corona<em>(Jorge Águila y Isaac Gómez) </em></td>
				<td class="p-2">La Estrella de Triana<em>(Fulgencio Morón Ródenas) </em></td>
			</tr>
			<tr>
				<td class="p-2" scope="row">Estrella y Esperanza<em>(Francisco David Álvarez Barroso)</em></td>
				<td class="p-2">Virgen Coronada de Estrellas<em>(Manuel Rebollo) </em></td>
			</tr>
			<tr>
				<td class="p-2" scope="row">La Valiente<em>(Isaac Gómez)</em></td>
				<td class="p-2">Estrella Coronada<em>(Francisco de Asís Manzanero)</em></td>
			</tr>
			<tr>
				<td class="p-2" scope="row">Orando al cielo de Triana<em>(Vicente Moreno Albadalejo)</em></td>
				<td class="p-2">La Estrella en Sevilla<em>(Jose Manuel Bernal Montero)</em></td>
			</tr>
			<tr>
				<td class="p-2" scope="row">Una Estrella pa tu Corona<em>(Francisco Javier Navarro)</em></td>
				<td class="p-2">Estrella<em>(Manuel Marvizón Carvallo)</em></td>
			</tr>
			<tr>
				<td class="p-2" scope="row">Sagrada Corona <em>(David López Ramos y Manuel Flores González)</em></td>
				<td class="p-2">Las Manos de la Estrella<em>(Juan Velazquez)</em></td>
			</tr>
			<tr>
				<td class="p-2" scope="row">A la Triana Costalera<em>(Jorge Águila)</em></td>
				<td class="p-2">Salve Estrella<em>(María Luisa Palomares)</em></td>
			</tr>
			<tr>
				<td class="p-2" scope="row">Para ti mi Estrella<em>(Victor Ramírez)</em></td>
				<td class="p-2"></td>
			</tr>
			<tr>
				<td class="p-2" scope="row">En Triana<em>(Joaquín Eligio Cruz)</em></td>
				<td class="p-2"></td>
			</tr>
		</tbody>
	</table>
	<footer class="w-100" th:replace="~{fragmentos/footer::footer}">
    </footer>
</body>

</html>