<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Hermandad de la estrella</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
		th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css}">
	<link rel="shortcut icon" href="../static/img/escudo.png" th:href="@{/img/escudo.png}">
	<link rel="stylesheet" href="../static/css/estilos.css" type="text/css" th:href="@{/css/estilos.css}">
	<script type="text/javascript" src="../static/js/js.js" th:src="@{/js/js.js}" defer></script>
	<script src="../static/js/datedropper-javascript.js" th:src="@{/js/datedropper-javascript.js}"></script>
</head>

<body>
	<header th:replace="~{fragmentos/encabezado::encabezado}"></header>
	<div class="container bg-white border p-5 rounded w-50 mt-5" id="registroProductos">
		<h2 class="mx-auto texto">Añadir producto</h2>
		<!--El "onsubmit="return revisarFormulario()"" lo he puesto porque como vimos en clase el formulario no hacía el JavaScript 
		    a la hora de enviar el formulario entonces Rafa me dijo que lo pusiera así que comentara el script de arriba y que avisara por aquí
			el script que usa esta en la carpeta resources/static/js-->
		<form method="POST" action="#" th:action="@{/admin/nuevo/submit}" th:object="${producto}" id="formulario"
			name="formulario" onsubmit="return revisarFormulario()">
			<!--Primera fila-->
			<div class="row mb-4">
				<div class="col">
					<!--Nombre del producto-->
					<div class="form-outline">
						<input type="text" name="nombre" class="form-control" th:field="*{nombre}" />
						<div class="errorForm text-danger" id="errorPvp"></div>
						<label class="form-label" for="nombre">Nombre</label>
					</div>

					<div class="mensajeError text-danger" id="errorNombre">Introduzca un nombre para el producto</div>

				</div>
				<div class="col">
					<!--Precio unidad-->
					<div class="form-outline">
						<input type="number" step="0.01" class="form-control" th:field="*{pvp}" />
						<label class="form-label" for="pvp">Precio Unitario</label>
						<input type="hidden" th:field="*{id}" id="id" />
					</div>
					<div class="mensajeError text-danger" id="errorPvp">Introduzca un valor superior a 0</div>
				</div>
			</div>
			<!--Unidades Stock-->
			<div class="form-outline mb-4">
				<input type="number" step="1" class="form-control" th:field="*{unidadesStock}" />
				<label class="form-label" for="unidadesStock">UnidadesEnStock</label>
			</div>
			<div class="mensajeError text-danger" id="errorPvp">Introduzca un valor superior a 0</div>
			<!--Descripcion-->
			<div class="form-outline mb-4">
				<textarea class="form-control" id="descripcion" rows="4" th:field="*{descripcion}"
					maxlength="150"></textarea>
				<label class="form-label" for="descripcion">Descripcion (Máximo 150 caracteres)</label>
			</div>
			<div class="mensajeError text-danger" id="errorPvp">Introduzca una pequeña descripción del producto.
			</div>
			<div class="form-outline">
				<input type="text" name="imagen" class="form-control" th:field="*{imagen}" /> <label class="form-label"
					for="imagen">URL
					Imagen</label>
			</div>
			<br>
			<div class="form-outline">
				<input type="date" name="fechaDeEntrada" th:field="*{fechaDeEntrada}" id="fecha" required />
				<label for="fechaDeEntrada" class="form-label">Indique
					la fecha de alta del producto</label>
				<script>
					new dateDropper({
						selector: 'input[type="date"]'
					});
				</script>
			</div><div class="mensajeError text-danger" id="errorPvp">No puede introucir una fecha superior a hoy
			</div>

			<!--Enviar-->
			<button class="btn btn-primary btn-block mb-4" type="submit" name="enviar" value="Enviar">Añadir
				producto</button>
		</form>

		<a class="btn btn-danger mx-auto" th:href="@{/admin}">Volver</a>
	</div>
</body>

</html>