<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" class="lateral">

<head>
    <title>Hermandad de la estrella</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
        th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css}">
    <link rel="shortcut icon" href="../static/img/escudo.png" th:href="@{/img/escudo.png}">
    <link rel="stylesheet" href="../static/css/estilos.css" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body class="lateral">
    <div class="container-fluid lateral">
        <header class="w-100" th:replace="~{fragmentos/encabezado::encabezado}">
        </header>
        <nav class="w-100" th:replace="~{fragmentos/navBar::menu}">
        </nav>
        <main class="w-75 bg-white mx-auto rounded p-4">
            <br>
            <article>
                <p>Corría el año de 1560 cuando se funda en Triana, en una capilla del convento de la Victoria
                    perteneciente a
                    los Frailes Mínimos de San Francisco de Paula, una hermandad de luz bajo el patrocinio de
                    Nuestra Señora de
                    la
                    Estrella.

                    Las reglas de esta hermandad, formada por capitanes de barcos con la misión de fletar las
                    mercaderías que en
                    la ciudad de Sevilla entraban y salían por la mar para las Indias y Flandes, fueron
                    protocolizadas en la
                    escribanía de Gaspar de Toledo el primer día de septiembre de 1566 y aprobadas por Su Majestad
                    Felipe II el
                    día 24 de diciembre de ese mismo año. En 1570, la comunidad de frailes concedía a la Hermandad
                    un sitio
                    junto
                    a su iglesia para que se labrara una capilla, al igual que cedía en el interior del templo otra
                    Capilla con
                    el
                    objeto de que allí fueran colocadas las imágenes y poder celebrar sus fiestas y juntas.

                    En el año de 1600, la hermandad de Nuestra Señora de la Estrella se une a la de San Francisco de
                    Paula.

                    En 1644, en el barrio de Triana, en la ermita de un antiguo Hospital allí existente bajo la
                    advocación de
                    Nuestra Señora de la Candelaria, un hombre devoto, de nombre Diego Granado y Mosquera, fundó una
                    hermandad
                    titulada de las Penas de Cristo Nuestro Señor, Triunfo de la Cruz y Amparo de María Santísima.
                    La hermandad
                    labró capilla a sus propias expensas pero era ésta tan pequeña que en la Semana Santa debían de
                    instalarse
                    los
                    pasos en la propia ermita pues en aquellos días no la ocupaban los hermanos de la Candelaria.

                    A iniciativa del mencionado Diego Granado, la hermandad de las Penas gestó la fusión con la de
                    la Estrella.
                    De
                    este modo, los hermanos de las Penas, en Cabildo General celebrado el 17 de junio de 1674,
                    acordaron su
                    unión
                    con los de la Estrella, quienes tomaron también acuerdo de fusión en Cabildo el día 21 de junio
                    de ese mismo
                    año. Así, el 15 de julio de 1674, las hermandades otorgaron conjuntamente escritura de fusión
                    ante el
                    escribano público Hernando Gómez de Frías, acordando también la redacción de nuevas reglas que
                    se formarían
                    con lo mejor de ambas. La hermandad resultante se titularía de "Nuestra Señora de la Estrella,
                    Santo Cristo
                    de
                    las Penas, Triunfo del Santo Lignum Crucis y San Francisco de Paula".

                    Al establecerse esta concordia, la cofradía de las Penas donó al Convento de Frailes Mínimos la
                    imagen de un
                    Crucificado con el tabernáculo que poseía, siendo colocada en la enfermería y luego en un altar
                    del templo.
                    La Iglesia y el Convento de la Victoria desaparecieron en un voraz incendio la noche del 22 de
                    octubre de
                    1704, salvándose la Capilla de la Hermandad, la cual sirvió a la Comunidad hasta igual día y mes
                    del año
                    1707
                    en que se concluyó la reedificación de aquella.

                    Por otra parte, la Ermita de la Candelaria, en razón de lo reducido del templo y de la
                    ampliación exigida
                    por
                    la propia Comunidad de Dominicos, hubo de ser derruida, emprendiéndose con el tiempo la nueva
                    fábrica de la
                    suntuosa iglesia de la Candelaria y San Jacinto, cuya construcción fue muy afanosa,
                    depositándose en ella el
                    Santísimo Sacramento en 1774 y abriéndose al culto el día 29 de enero de 1775.

                    La cofradía después de su fusión entre Estrella y Penas, hacía estación de penitencia a la real
                    Parroquia de
                    Señora Santa Ana con tres pasos.

                    En el primero iba una cruz verde sobre un mundo y, enroscada en él, la serpiente con la manzana
                    en la boca.
                    Del clavo de los pies de la cruz salían dos palmas que terminaban en los brazos y en el centro
                    de éstos, una
                    corona de laurel. Al pie del Sagrado Madero había una María con una estrella y a un lado una
                    calavera en
                    significación de la muerte.

                    En el segundo paso, el del Señor, se representaba el Monte Calvario en el que el Redentor,
                    desnudo y sentado
                    sobre una peña, espera la crucifixión en actitud de oración ante el Eterno Padre. La Santa Cruz
                    iba en medio
                    tendida mientras dos judíos preparaban lo necesario para dicho acto, mostrándose en el suelo la
                    túnica y el
                    vaso de mirra.

                    En el tercer paso figuraba la Santísima Virgen, ostentando en su mano la reliquia del Santo
                    Lignum Crucis
                    que
                    de antiguo poseía la Hermandad. En los tiempos de apogeo se adornaba el paso con muy ricos
                    objetos de plata.
                    La Sagrada Imagen, una de las más hermosas de la ciudad atribuida a la gubia de Juan Martínez
                    Montañés, tuvo
                    tanta fama y celebridad que hubo empeño en poseerla, asegurándose como tradición que una noche
                    trataron de
                    robarla.

                    Las fiestas principales de la Hermandad eran: el día de la Santa Cruz, con misa cantada y sermón
                    exponiéndose
                    ese día el Santísimo Sacramento; en el mes de enero, se celebraba quinario a Nuestro Padre Jesús
                    de las
                    Penas,
                    procurando que en los tres últimos se tuviera el Jubileo de las 48 horas; el 2 de febrero,
                    Fiesta de la
                    Purificación, tenía lugar función en honor de María Santísima de la Estrella, en conmemoración
                    de la
                    presentación de Jesús en el Templo y se oficiaba con tercia, bendición de candelas, misa,
                    sermón, manifiesto
                    y
                    procesión claustral.

                    El 16 de julio, se cantaban vísperas solemnes ante el altar en que se veneran las Santas
                    Mártires, Justa y
                    Rufina, Patronas de Sevilla y el día 17, de su Festividad, misa cantada por la tarde comenzando
                    la novena
                    con
                    sermón. Al domingo siguiente, se hacía función solemne con procesión en la que figuraba la
                    imagen de Nuestro
                    Padre San Francisco de Paula, titular de ambas Hermandades unidas, y las Santas, agregadas a la
                    Cofradía,
                    que
                    tenían su capilla y sala capitular en la Real Parroquia de Señora Santa Ana, iglesia donde
                    también estaba la
                    imagen de San Francisco de Paula en su retablo propio de la nave del Evangelio.

                    La falta de documentos de la Hermandad de las Santas Justa y Rufina impide determinar su
                    antigüedad, aunque
                    es
                    de presumir sea mucha respecto a la devoción que siempre ha conservado Sevilla a estas
                    esclarecidas
                    mártires,
                    sus patronas, y principalmente por los alfareros, por quienes se supone fundada. Se encuentra
                    memoria de su
                    altar en la Iglesia de Santa Ana desde el año de 1589 por unas mandas de misas en testamento.
                </p>
            </article>
            <br>
        </main>

    </div>
    <footer th:replace="~{fragmentos/footer::footer}">
    </footer>
</body>

</html>