<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Hermandad de la estrella</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
		th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css}">
	<link rel="shortcut icon" href="static/img/escudo.png" th:href="@{img/escudo.png}">
	<link rel="stylesheet" href="/css/estilos.css" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body class="w-100">
	<div class="container-fluid row w-100 lateral mx-0 p-0">
		<header th:replace="~{fragmentos/encabezado::encabezado}">
		</header>
		<nav th:replace="~{fragmentos/navBarUsuario::menuUsuario}">
		</nav>
		<main class="mx-auto w-75">
			<div class="container-fluid row mx-auto bg-white">
				<img src="/img/junta.jpg" alt="">
				<p class="w-100">La actual Junta de Gobierno, elegida en el Cabildo General de Elecciones celebrado el
					29 de junio de 2021, tomó posesión de sus cargos el día 17 de julio.</p>
				<div class="container-fluid bg-white p-5 rounded mt-5 float-start row col-lg-3 col-sm-12 mx-auto">

					<img src="/img/junta.jpg" alt="">
					<p class="w-100">Nombre</p>
					<p class="w-100">Nombre</p>
				</div>
				<div class="container-fluid bg-white p-5 rounded mt-5 float-start row col-lg-3 col-sm-12 mx-auto">

					<img src="/img/junta.jpg" alt="">
					<p class="w-100">Nombre</p>
					<p class="w-100">Nombre</p>
				</div>
				<div class="container-fluid bg-white p-5 rounded mt-5 float-start row col-lg-3 col-sm-12 mx-auto">

					<img src="/img/junta.jpg" alt="">
					<p class="w-100">Nombre</p>
					<p class="w-100">Nombre</p>
				</div>
				<div class="container-fluid bg-white p-5 rounded mt-5 float-start row col-lg-3 col-sm-12 mx-auto">

					<img src="/img/junta.jpg" alt="">
					<p class="w-100">Nombre</p>
					<p class="w-100">Nombre</p>
				</div>
				<div class="container-fluid bg-white p-5 rounded mt-5 float-start row col-lg-3 col-sm-12 mx-auto">

					<img src="/img/junta.jpg" alt="">
					<p class="w-100">Nombre</p>
					<p class="w-100">Nombre</p>
				</div>
				<div class="container-fluid bg-white p-5 rounded mt-5 float-start row col-lg-3 col-sm-12 mx-auto">

					<img src="/img/junta.jpg" alt="">
					<p class="w-100">Nombre</p>
					<p class="w-100">Nombre</p>
				</div>
				<div class="container-fluid bg-white p-5 rounded mt-5 float-start row col-lg-3 col-sm-12 mx-auto">

					<img src="/img/junta.jpg" alt="">
					<p class="w-100">Nombre</p>
					<p class="w-100">Nombre</p>
				</div>
				<div class="container-fluid bg-white p-5 rounded mt-5 float-start row col-lg-3 col-sm-12 mx-auto">

					<img src="/img/junta.jpg" alt="">
					<p class="w-100">Nombre</p>
					<p class="w-100">Nombre</p>
				</div>
				<div class="container-fluid bg-white p-5 rounded mt-5 float-start row col-lg-3 col-sm-12 mx-auto">

					<img src="/img/junta.jpg" alt="">
					<p class="w-100">Nombre</p>
					<p class="w-100">Nombre</p>
				</div>
				<div class="container-fluid bg-white p-5 rounded mt-5 float-start row col-lg-3 col-sm-12 mx-auto">

					<img src="/img/junta.jpg" alt="">
					<p class="w-100">Nombre</p>
					<p class="w-100">Nombre</p>
				</div>
				<div class="container-fluid bg-white p-5 rounded mt-5 float-start row col-lg-3 col-sm-12 mx-auto">

					<img src="/img/junta.jpg" alt="">
					<p class="w-100">Nombre</p>
					<p class="w-100">Nombre</p>
				</div>
			</div>
			<div class="container-fluid bg-white p-5 rounded mt-5 float-start row col-lg-3 col-sm-12 mx-auto">

				<img src="/img/junta.jpg" alt="">
				<p class="w-100">Nombre</p>
				<p class="w-100">Nombre</p>
			</div>
	</div>
	</main>
	</div>
</body>

</html>