<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Hermandad de la estrella</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
		th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css}">
	<link rel="shortcut icon" href="static/img/escudo.png" th:href="@{img/escudo.png}">
	<link rel="stylesheet" href="/css/estilos.css" type="text/css" th:href="@{/css/estilos.css}">
</head>


<body>
	<header th:replace="~{fragmentos/encabezado::encabezado}"> </header>
	<nav th:replace="~{fragmentos/navBar::menu}"></nav>

	<div class="row">
		<div class="col-md-2 lateral">
			<!--Columna lateral izquierda-->
		</div>
		<div class="col-md-8 p-1 letraPag">
			<!--Columna Central-->
			<article>
				<img src="/img/imagen3.png" class="rounded float-start w-50 p-1 " alt="">

				Conforme a las Reglas de 1.675 quedaron unidas estas dos Cofradías de Nuestra Señora de la Estrella y
				N.P.S. Francisco de Paula y la del Santísimo Cristo de las Penas, Triunfo de su Cruz y Amparo de su
				Santísima Madre, en una sola, para que así permanezcan por siempre jamás.
				Han de ser Títulos los Siguientes: LA MADRE DE DIOS DE LA ESTRELLA, por ser éste el Título más antiguo,
				para gozar de la antigüedad en los Actos que a esta Cofradía se le ofreciese, trocando en del Amparo en
				el de la Estrella gozosísimos de tenerla con este Título, pues Estrella Matutina amaneció llena de
				gracia y libre de crepúsculo de la culpa original en su primer instante y también ESTRELLA DE EL MAR,
				norte seguro de los que navegan llevando su Sagrada Imagen presidiendo en nuestra Estación de Penitencia
				y la Reliquia del Santo Lignum Crucis, en las manos como está capitulado en la escritura de unión.
				(…)(Regla 1)

				La Virgen de la Estrella, Imagen Dolorosa de candelero de tamaño natural no documentada, por su unánime
				valía artística, ha sido atribuida tradicionalmente al escultor Juan Martínez Montañés. Bermejo, el gran
				historiador de las cofradías hispalenses, recogía ya en el siglo XIX esta adscripción y agregaba que es
				“de las más hermosas de esta ciudad y en lo antiguo tuvo tanta fama y celebridad, que hubo empeño en
				poseerla, asegurándose como tradición que una noche trataron de robarla”.

				La misma opinión observa el profesor Hernández Díaz, quien en la monografía consagrada al gran imaginero
				andaluz, anota: “Difíciles son siempre de clasificar las Dolorosas, ya que sólo poseen talladas la
				mascarilla y las manos, siendo el resto un maniquí para vestir; además el continuo trajín del cambio de
				indumentaria y las preparaciones procesionales, erosionan o alteran más o menos dichos elementos, con la
				necesidad frecuente de restauraciones. De antiguo viene atribuida a Montañés y yo entiendo que puede
				adjudicársele por el sentido letífico de su Dolor y la belleza de su expresión, sólo alcanzable por un
				gran maestro”.

				El problema estriba en que el rostro de la Estrella no se parece a las idealizadas facciones marianas
				modeladas por Martínez Montañés. Sólo la mirada baja sintoniza con su estética, pero nunca las cejas
				arqueadas y el sollozante rictus de dolor. Bien es cierto que tampoco se conserva ninguna Dolorosa de
				Montañés para establecer comparaciones. El debate, pues, continúa abierto.

				Entre septiembre de 2009 y enero de 2010, se realizó a la Imagen una intervención de conservación y
				restauración en el Instituto Andaluz de Patrimonio Histórico (IAPH), paralelo al cual se llevó a cabo un
				profundo estudio histórico artístico por parte de las historiadoras del arte Eva Villanueva Romero y
				Carmen García Rosell, quienes, en base a la documentación analizada, acotaron la fecha de la ejecución
				de la Virgen de la Estrella entre los años 1665 y 1709. Por otra parte, las pruebas y ensayos realizados
				a la Imagen concluyeron que la misma no había sufrido a lo largo de su evolución histórica
				modificaciones considerables en su morfología, lo cual permitió analizar de una forma más clara sus
				características estilísticas. Con todo ello, el referido estudio se decantó por la atribución
				anteriormente defendida por los investigadores Lorenzo Alonso de la Sierra y Francisco Espinosa de los
				Monteros, los cuales proponían que la Virgen de la Estrella sería una obra de Luisa Ignacia Roldán (La
				Roldana) y realizada en el periodo sevillano de la artista, coincidiendo con el momento histórico
				inmediato a la fusión, en 1.674, con la Hermandad de Ntro. Padre Jesús de las Penas. Así se expone la
				comparación de la Estrella con la Virgen de la Soledad del antiguo convento Mínimo de la Victoria de
				Puerto Real, restaurada también en le IAPH y el San Servando de la Catedral de Cádiz o la desaparecida
				imagen de María Magdalena de la Hermandad de Jesús Nazareno de Cádiz, obras documentadas de La Roldana,
				que muestran rasgos comunes como, entre otros, la significativa forma de resolver la boca, carnosa y con
				el labio inferior caído en gesto de dolor acentuado, y el labio superior coronado por un característico
				hoyuelo.

				No cabe duda de que es ésta una de las imágenes dolorosas de la Virgen más admiradas de Sevilla, por su
				innegable calidad artística. Destaca su belleza, contemplada tanto de frente como de perfil, y sus manos
				quizás sean las más “elocuentes” de todas las vírgenes sevillanas. Queriendo hacer una breve descripción
				de la Imagen, podemos decir que mide 1,68 m de altura y presenta el rostro levemente inclinado hacia la
				derecha. Sus ojos son de cristal, bajo pestañas postizas, con la vista hacia abajo. Por sus mejillas
				resbalan seis lágrimas, tres por cada una. Su boca entreabierta, en estética congoja, permite ver la
				talla de los dientes. Su cabellera es tallada. Las manos, exquisitas, son de gran expresión, que
				completan tan magna talla. La derecha, con los dedos levemente curvados, porta en el paso de palio el
				Santo Lignum Crucis en un relicario y la izquierda, se presenta semiextendida. La materia prima es la
				madera de ciprés; madera ésta de rico olor que, a semejanza con el cedro, es de dureza media y
				resistente al ataque de xilófagos.

				Pocas son las restauraciones conocidas sufridas por esta talla, pese a su antigüedad. Además de la
				última ya referida llevada a cabo en el IAPH, la más importante fue la que en 1978 realizó Francisco
				Peláez del Espino, en la que se introdujo una varilla roscada metálica que recorría el interior de la
				Imagen, desde la cabeza hasta el candelero, felizmente retirada en la intervención del año 2009.
				Paralelamente a los trabajos de extracción del vástago, en esta última restauración se ejecutó un nuevo
				candelero de madera de cedro en sustitución del metálico que poseía la Virgen, fruto también de la
				intervención de Peláez y no original; se ejecutaron nuevos brazos con articulaciones de esfera e
				idénticas dimensiones a los sustituidos, los cuales poseían un sistema de galletas para las
				articulaciones que estaba afectando al soporte de madera de la Imagen, especialmente en las muñecas de
				las manos.

				Respecto de la policromía de la Virgen, los ensayos de laboratorio y demás pruebas efectuadas en la
				intervención del IAPH, corroboraron que ésta cuenta con una magnífica policromía, que se extiende por
				toda la zona visible de la misma e idéntica en cabeza y manos, lo que hace desechar la posibilidad de
				una distinta autoría entre ambas. La composición de la policromía original arrojó además otro dato
				curioso: la existencia de amarillo de plomo estaño, pigmento no muy usado en las policromías de las
				esculturas de madera aunque bien conocido por los pintores desde el siglo XV hasta el primer tercio del
				siglo XVIII, en que se dejó de utilizar. Afortunadamente, la intervención de Peláez fue muy respetuosa
				con la policromía del rostro y cuello frontal de la Virgen, donde no se halló ningún repinte. Por lo que
				en la última restauración, los trabajos en la policromía consistieron en una limpieza superficial muy
				sutil, la recuperación de la policromía existente bajo los repintes realizados en parte posterior del
				cuello, zona escapular y manos, así como la consolidación de ésta en dichas zonas, torso y cabellera.

				La efigie ofrece, dentro de su serenísima tristeza –que acrecienta su belleza- un llanto que sobrecoge,
				con el aliento entrecortado, en suprema congoja por el intenso dolor que le produce el momento que
				representa. Esto nos dijo de esta bella talla el poeta y jesuita mejicano padre Ramón Cué: “La Virgen de
				la Estrella representa el momento más pasional, fuerte y necesario del sufrimiento. No llegó el
				desahogo. El dolor quema, tortura y hasta contrae las facciones de la más bella de las mujeres. Tiene
				afilada la nariz, levemente convulsos los labios y levantados los extremos interiores de su cejas;
				señales claras de la cruel lucha. Se llama Estrella, pero oscurecida por el dolor. La Estrella es la que
				más sufre”. Por lo que podemos concluir que nos encontramos ante la mejor representación que la
				iconografía barroca andaluza y sevillana en particular ha aportado del dolor de la Madre de Jesús.
			</article>
		</div>
		<div class="col-md-2 lateral">
			<!--Columna lateral derecha-->

		</div>
	</div>

</body>

</html>