<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Hermandad de la estrella</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
		th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css}">
	<link rel="shortcut icon" href="static/img/escudo.png" th:href="@{static/img/escudo.png}">
	<link rel="stylesheet" href="/css/estilos.css" type="text/css" th:href="@{/css/estilos.css}">
</head>


<body>
	<header th:replace="~{fragmentos/encabezado::encabezado}"> </header>
	<div class="container bg-white border p-5 rounded w-50 mt-5" id="registroHermanos">
	<form method="POST" th:action="@{/nuevo/submit}" th:object="${hermano}">
		<table>
			<tr>
				<td><label for="nombre">Nombre</label></td>
				<td><input type="text" th:field="*{nombre}" /></td>
			</tr>
			<tr>
				<td><label for="apellidos">apellidos</label></td>
				<td><input type="text" th:field="*{apellidos}" /></td>
			</tr>
			<tr>
				<td><label for="dni">DNI</label></td>
				<td><input type="text" th:field="*{DNI}" /></td>
			</tr>
			<tr>
				<td><label for="numTelefono">teléfono</label></td>
				<td><input type="text" th:field="*{numTelefono}" /></td>
			</tr>
			<tr>
				<td><label for="id">Id</label></td>
				<td><input type="text" th:field="*{id}" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>
	</div>
</body>

</html>