.texto {
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

nav {
	background-color: #2f4053
}

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end {
		right: 0;
		left: auto;
	}

	.navbar .nav-item .dropdown-menu {
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
		margin-top: 0;
	}

	.navbar .nav-item:hover .nav-link {
		color: #fff;
	}

	.navbar .dropdown-menu.fade-down {
		top: 80%;
		transform: rotateX(-75deg);
		transform-origin: 0% 0%;
	}

	.navbar .dropdown-menu.fade-up {
		top: 180%;
	}

	.navbar .nav-item:hover .dropdown-menu {
		transition: .3s;
		opacity: 1;
		visibility: visible;
		top: 100%;
		transform: rotateX(0deg);
	}
}

.lateral {
	background-color: #2f4053
}

.tablaHermanos tbody tr:hover td {
	background-color: wheat;
}

.tabla {
	background-color: #cfe2ff;
}

.letraPag {
	color: #848484;
}

blockquote {
	background: #EFF2F5 url('/img/postquote.png') no-repeat scroll;
	padding: 10px 10px 10px 47px;
	margin: 10px 0 0 25px;
	color: #283E5B;
	font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	overflow: auto;
	clear: both;
}

.tablaHermanos tbody td img {
	width: 20%;
}

#imgCristo {
	width: 25%;
}

#tabla1 {
	width: 50%;
}

@media screen and (max-width: 414px) {
	#imgCristo {
		width: 100%;
	}

	#tabla1 {
		width: 100%;
	}
}

html {
	min-height: 100%;
	position: relative;
}

body {
	margin: 0;
	margin-bottom: 40px;
}

footer {
	display: flex;
	background-color: #283E5B;
	background-image: url('../img/fondo_charitas.jpg');
	padding: 20px 10px 0px 20px;
	background-repeat: no-repeat;
	background-position: right top;
	position: absolute;
	bottom: 0;
}

.titulohdad {
	color: #ffffff;
	font-size: 14px;
	line-height: 185%;
	font-family: Cabin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-align: justify;
	letter-spacing: 1px;
}

.bordeFooter {
	border: 1px #2f4053 solid;
}

.duro {
	font-size: 400;
	font-weight: bold;
}

.duro2 {
	font-weight: lighter;
}

.mensajeError {
	visibility: hidden;
}

.error {
	border: 3px solid #bb2929;
}

.anchoCelda tr td {
	max-width: 400px;
	max-height: 200px;
}

.gris {
	color: #a1a9b1;
}

.form-date {
	padding: 16px;
	display: flex;
	flex-direction: column;
}

.form-date__label {
	font-family: “Helvetica”, arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 8px;
}

.form-date__input[type=”date”] {
	appearance: none;
	color: #1D1D1D;
	font-family: “Helvetica”, arial, sans-serif;
	font-size: 18px;
	border: 1px solid #47b5ff63;
	background: #ECF0F1;
	padding: 4px;
	display: inline-block;
	visibility: visible;
	width: 140px;
}

.form-date__input[type=”date”]:focus {
	color: #495057;
	background-color: #FFFFFF;
	border-color: #80BDFF;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

#cajaInicio{
	min-width: 400px;
}